Language: Cpp
BasedOnStyle:  LLVM
IndentWidth:     4
ColumnLimit:     80
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
IndentCaseLabels: false
TabWidth:        4
UseTab:          Never
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false
